// блок под кнопкой
.ds-modal__bottom-container {
  margin-top: 1.5rem;
  margin-bottom: -1.4375rem;
  text-align: center;
}

// текст под кнопкой
.ds-modal__bottom-link {
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration-line: underline;
  color: #9e9e9e;
}
