.mobile-menu-button {
  display: none;
  margin-right: 1.125rem;
}

// notebook
@include media-notebook {
}

// tablet
@include media-tablet {
}

// mobile
@include media-mobile {

  .mobile-menu-button {
    display: block;
    z-index: 1400;
  }
}